/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*
 * Simple CSS stylesheet for a navigation bar and flash messages.
 */
body {
  background-color: #eee;
  padding-bottom: 80px;
  padding-left: 40px;
  padding-right: 20px;
  width: 100%;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  color: #356656;
  font-size: 16px;
  line-height: 1.42857;
  background: -webkit-linear-gradient(90deg, #85FFD6 5%, #F0F6F6 95%);
  background:    -moz-linear-gradient(90deg, #85FFD6 5%, #F0F6F6 95%);
  background:     -ms-linear-gradient(90deg, #85FFD6 5%, #F0F6F6 95%);
  background:      -o-linear-gradient(90deg, #85FFD6 5%, #F0F6F6 95%);
  background:         linear-gradient(90deg, #85FFD6 5%, #F0F6F6 95%);
  }

nav a {
  padding: 10px 15px 10px;
  font-size: 20px;
  color: #356656;
  text-decoration: none;
  display: inline;
}

.home {
  padding-right: -10px; 
}
.flash_notice, .flash_alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.flash_notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.flash_alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

.activity {
  border-bottom: solid 1px #CCC;
  padding: 16px 0;
}