%h1 Activities

%table
  %tr
    %th Request
    %th Parameters
    %th Result
  - @activities.each do |activity|
    %tr
      %td= activity.request_url
      %td= activity.query_params
      %td
        = activity.result_code
        = activity.result_message

